<div class="container">
  <h1>About Southern Creations</h1>
  <div class="row">
    <div class="col-md-8">
      <p>Southern Creations is an online store speciaising in traditional and contmparry African art. Our art pieces are sourced from rural areas across Southern Africa and sold internationally.</p>
      <p>Having our roots in South Africa and being part of the international comunity
        we have a strong focus on Social Corporate Responisbility and as such, we are commited to the artists and communities that supply us with their pieces. We are therefore commited
        to promoting the artists and their culture as well as helping them develop their skills and generate income in low income areas. We achieve this by providing skills development in areas such as business, marketing and finance as well as
        providing them with opertunities to grow their business.
      <p>
      <p>Based in Cape Town, South Africa, we are perfectly located to offer our products to both local and international clients</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("about2.jpg", class: "img-thumbnail") %>
      <%= image_tag("about3.jpg", class: "img-thumbnail") %>
    </div>
  </div>
</div>
