<div class="container">
  <h1>Welcome to Southern Creations</h1>
  <h2>Hand Crafted Creations</h2>

  <div class="row">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>
