<div class="container">
  <h1>Editing User</h1>

  <%= render 'form', user: @user %>
  <% if current_user && current_user.admin %>
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  <% end %>
</div>
