// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-category-btn{
  margin-top: 25px;
  margin-bottom: 25px;
}

.category{
  margin-bottom: .75rem;
  height: 400px;
}

.category-truncate{
  height: 100px;
  text-overflow: ellipsis;
}
