<div class="col-lg-3">
  <div class="category" id="<%= category.id %>">
    <%= image_tag category.image_url, class: "rounded-circle home-image" %>
    <h2><%= category.product_category %></h2>
    <p class="category-truncate"><%= category.description %></p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div>
