<div id="product-reviews">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
<div class="margin-top-10">
  <%= will_paginate @comments, next_label: '&raquo;', previous_label: '&laquo;'  %>
</div>
