<div class="container">

  <h1>Products</h1>
  <div class="row">
    <% @products.each do |product| %>
     <%= render product %>
    <% end %>
  </div>
  <%= link_to '', new_product_path, class: "new-product-btn fa fa-plus-circle fa-2x btn btn-primary" %>
</div>
