<footer class="footer">
  <div class="container">
    <div>
      &copy; <%= Time.current.year %> www.southerncreations.com
    </div>
    <div>
      <a href="#">Privacy <a href="#">Terms</a>
    </div>
  </div>
</footer>
